<h1 class="display-4">Conference Information</h1>

<div id="sections" class="list-group">
  <%= link_to "Target Audience",         '#audience',  class: "list-group-item list-group-item-action" %>
  <%= link_to "Agenda",                  '#agenda',    class: "list-group-item list-group-item-action" %>
  <%= link_to "Parking at Drake",        '#parking',   class: "list-group-item list-group-item-action" %>
  <%= link_to "Student Poster Sessions", '#poster',    class: "list-group-item list-group-item-action" %>
  <%= link_to "Sponsors",                '#sponsors',  class: "list-group-item list-group-item-action" %>
  <%= link_to "Questions",               '#questions', class: "list-group-item list-group-item-action" %>
</div>

<div data-spy="scroll" data-target="#sections" data-offset="0">
  <h4 id="audience">Target Audience</h4>
  <p>
    Students, faculty and staff from Heartland Global Health Consortium (HGHC)
    member schools (Central College, Des Moines University, Drake University,
    Grinnell College, Iowa State University, Mercy College of Health Sciences,j
    Simpson College, University of Iowa, University of Northern Iowa and William
    Penn University) and community members are also invited to attend.
  </p>

  <h4 id="agenda">Agenda</h4>
  <h4 id="parking">Parking at Drake</h4>
  <h4 id="poster">Student Poster Session</h4>
  <p>
    We are excited to announce the Heartland Global Health Conference will be
    offering a poster session and all students attending are invited to participate.
    Our conference theme for this year is “The Social Determinants of Health”;
    however, poster topics are not limited to the conference theme. Students may
    present on any topic, experience, or research in the field of global health.
    The deadline to register your poster is Wednesday, September 28.
  </p>
  <h5>Criteria</h5>
  <p>
    Poster session participants will compete among their undergraduate and graduate
    student peers.  Within these two groups, participants will have the opportunity
    to win a cash prize. Posters will be judged on the following criteria:
  </p>

  <h4 id="sponsors">Sponsors</h4>
  <ul>
    <li>Heartland Global Health Consortium</li>
    <li>Central College</li>
    <li>The Principal Financial Group Center for Global Citizenship at Drake University</li>
    <li>
      HGHC member institutions: Central College, Des Moines University, Drake
      University, Grinnell College, Iowa State University, Mercy College of Health
      Sciences, Simpson College, University of Iowa, William Penn University.
    </li>
  </ul>
  <h4 id="questions">Questions</h4>
  <h6>Denise Ganpat</h6>
</div>
