<div class="main-panel">
  <div class="container main-text">
    <div class="row-fluid">
      <h1>&nbsp</h1>
      <!---Current Conference Information--->
      <h1 class="conference-name"><%= @consortiumFrontPage.name.html_safe %></h1>
      <h1 class="other-text"><%= @consortiumFrontPage.sub.html_safe %></h1>
      <p class="other-text"><%= @consortiumFrontPage.date.html_safe %></p>
      <p class="other-text"><%= @consortiumFrontPage.time.html_safe %></p>
      <p class="other-text"><%= @consortiumFrontPage.location.html_safe %></p>
      <div class="container">
        <!---Registration and Information Button--->
        <div class="row justify-content-center">
          <%= link_to "Register", "https://cme.dmu.edu/HGHC2017#group-tabs-node-course-default4", class: "btn btn-outline-light  mr-sm-2", role: "button"%>
          <%= link_to "Learn more", "https://cme.dmu.edu/HGHC2017#group-tabs-node-course-default1", class: "btn btn-outline-light  mr-sm-2", role: "button" %>
          <%= link_to "Change HomePage event", "https://www.heartlandglobalhealth.org/consortia/new", class: "btn btn-outline-light  mr-sm-2", role: "button" %>
        </div>
      </div>
    </div>
    </div>
    </div>

    <!---Youtube Content--->
    
    <div class="youtube">
    <iframe src="https://www.youtube.com/embed/PRyj6htVvUI">Watch our videos</iframe>
    </div>
    <!---Google Maps Content--->
    <!-- Thinking about changing the src to a constant to its easier to edit -->
    <iframe class = "map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11933.955681973988!2d-93.6568661!3d41.601938!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9b7d9e84e124fca!2sOlmsted+Center!5e0!3m2!1sen!2sus!4v1511882317010" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

