<% provide(:title, "Members") %>


  <h2> Members</h2>
  
  
<div class="my-3">
  <%= form_tag(members_path, :method => "get", id: "search-form") do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], placeholder: "Find Researchers", class: "form-control" %>
      <span id="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </span>
    </div>
  <% end %>
</div>




<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head>
<body>


<div class="container">
  <div class="table-responsive">          
  <table class="table">
    <thead>
       <tr>
        <th>Name</th>
        <th>Institution</th>
        <th>Email</th>
        <th>Research</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%=link_to "#{user.name}", user, class: "card-link"%></td>
        <td><%=user.school %></td>
        <td><%=mail_to "#{user.email}"  %></td>
        <td><%=user.research %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>


</body>
