<% provide(:title, @user.name) %>
<!DOCTYPE html>
<head>
</head>
<html lang="en">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5" align="right">
            <img src="/assets/HeartlandLogo.ico" class="image-fluid"  alt="Heartland Global Health">
        </div>
        <div class="col" align="left">    
            <div class="table-responsive">
            <table class="table table-condensed table-responsive table-user-information table-nonfluid">
                <tbody>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td ><%= @user.name %></td>
                    </tr>
                    <tr>
                        <td><strong>School</strong></td>
                        <td><%= @user.school %></td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td><%= @user.email %></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
         <div class="col" align="center">    
            <div class="table-responsive" >
            <table class="table table-condensed table-responsive table-user-information table-fluid">
                <tbody>
                    <tr>
                        <td>
                        <strong>
                            Research
                        </strong>
                        </td>
                    </tr>    
                    <tr>
                        <td>
                        <%= @user.research %>
                    </td>
                    </tr>
                </tbody>
            </table>
            <%= link_to "Edit Profile", edit_user_path(@user.id), class: "btn btn-outline-info mr-sm-2" %>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
</html>
