<% provide(:title, @user.name) %>
<div class="row">
    <div class="col-md-2">
        <img src="/assets/HeartlandLogo.ico" class="image-fluid"  alt="Heartland Global Health">
    </div>
    <div class="col-md-3">    
        <div class="table-responsive">
        <table class="table table-condensed table-responsive table-user-information">
            <tbody>
                <tr>
                    <td>
                        <strong>
                            Name
                        </strong>
                    </td>
                    <td>
                        <%= @user.name %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            School
                        </strong>
                    </td>
                    <td>
                        <%= @user.school %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            Email
                        </strong>
                    </td>
                    <td>
                        <%= @user.email %>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
<div class="row">
     <div class="col">    
        <div class="table-responsive">
        <table class="table table-condensed table-responsive table-user-information">
            <tbody>
                <tr>
                    <td>
                    <strong>
                        About my research
                    </strong>
                    </td>
                </tr>    
                    
                <tr>
                    <td>
                    <%= @user.research %>
                </td>
                </tr>
                <% if user_signed_in? %>
                <% if current_user.email == @user.email %>
                <tr>
                    <td>
                        <%= link_to "Delete Account", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
                    </td>
                </tr>
                <% end %>
                <% end %>
            </tbody>
        </table>
        </div>
    </div>
</div>