<nav class="navbar navbar-expand-md navbar-dark navbar-background">
  <div class="container">
    <%= link_to "Heartland Global Health", root_path, class: "navbar-brand text-left" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex justify-content-between">
      <!-- If the user is signed in then show the signed in nav bar -->
       <% if user_signed_in? %>
       <ul class="nav navbar-nav my-2 my-lg-0be">
        <li><%= link_to "Profile", profile_path, class: "btn btn-outline-info mr-sm-2" %></li>
      </ul>
       <ul class="nav navbar-nav my-2 my-lg-0be">
        <li><%= link_to "Log out", destroy_user_session_path, class: "btn btn-outline-info mr-sm-2" %></li>
      </ul>
      
      <!-- If user not signed in then show the not signed in nav bar -->
      <% else %>
      <ul class="nav navbar-nav my-2 my-lg-0">
        <li><%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-info mr-sm-2" %></li>
      </ul>
      <ul class="nav navbar-nav my-2 my-lg-0">
        <li><%= link_to "Login", user_session_path, class: "btn btn-outline-info mr-sm-2" %></li>
      </ul>
      <% end %>
    </div>

</div>
</nav>

<div>
    <nav class = "navbar navbar-expand-md navbar-dark subnav-background">
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav col justify-content-center">
        <li class="nav-item col-md-auto <%= 'active' if current_page?(root_path) %>">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item col-md-auto <%= 'active' if current_page?(about_path) %>">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item col-md-auto <%= 'active' if current_page?(members_path) %>">
          <%= link_to "Members", members_path, class: "nav-link" %>
        </li>
        <li class="nav-item col-md-auto <%= 'active' if current_page?(posts_path) %>">
          <%= link_to "Events", posts_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li data-turbolinks='false' class="nav-item col-md-auto <%= 'active' if current_page?(new_post_path) %>">
            <%= link_to "Post", new_post_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

  </div>
  </nav>
</div>