<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag 'HeartlandLogo.ico' %>
    <title><%= full_title(yield(:title)) %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <% flash.each do |name, msg| %>
      <div class="alert alert-info alert-dismissable fade show" role="alert">
        <button type="close" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= msg %>
      </div>
    <% end %>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
